@import url('https://fonts.font.im/css?family=Satisfy');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
}
:root {
    --color:#ff2a2a;
    /* --color:#000; */
}
body {
    overflow: hidden;
    width: 100vw;
    height: 100vH;
}
section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
section .box {
    position: absolute;
    width: 450px;
    height: 450px;
}

section .box::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#000,transparent);
    opacity: 0.1;
    transform: rotate(45deg);
    transform-origin: left;
}
section .box .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#fff,#e4e3e8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}
section .box .circle::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(315deg,#fff,#e4e3e8);
    border-radius: 50%;
}
section .box .circle h2 {
    position: absolute;
    z-index: 2;
    font-size: 4em;
    color: var(--color);
    text-align: center;
}
section i {
    position: absolute;
    background: var(--color);
    border-radius: 100%;
    animation: animate linear infinite;
}
section i:nth-child(even) {
    background: transparent;
    border: 1px solid var(--color);
}
@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-2000%);
        opacity: 0;
    }

}

@media only screen{
    @media (max-width: 768px){
        section {
            width: 100%;
            height: 100%;
        }
        section .box {
            position: absolute;
            width: 40vw;
            height: 40vw;
        }
        section .box .circle h2 {
            position: absolute;
            z-index: 2;
            font-size: 1.5em;
            color: var(--color);
            text-align: center;
        }
        section .box .circle::before {
            content: '';
            position: absolute;
            top: 1vw;
            left: 1vw;
            right: 1vw;
            bottom: 1vw;
            background: linear-gradient(315deg,#fff,#e4e3e8);
            border-radius: 50%;
        }
    }
}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: black;
  }
  
  .modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: black;
  }
  
  /* Demo Styles */
  html,
  body {
    height: 100%;
  }
  
  
  a {
    color: inherit;
  }
  
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  small {
    color: #aaa;
  }
  
  .btn {
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 3px;
    text-decoration: none;
  }
  .btn i {
    padding-right: 0.3em;
  }
  
  