*{
    margin: 0px;
    padding: 0px;
}
.outer-list{
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: auto;
}
a {
    color: #fababa;
}
.outer{
    width: 180px;
    height: 320px;
    margin: 100px 20px;
    /* 设置阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, .3); 
    flex: none;
}

/* .img-wrapper{
    border: 1px red solid;
} */

/* 设置图片 */
.img-wrapper img{
    width: 100%;
    vertical-align: bottom;
}

.img-wrapper .color{
    width: 100%;
}
.img-wrapper .a{
    height: 30px;
    background: #fff;  /* fallback for old browsers */
    

}

.img-wrapper .b{
    height: 30px;
    background: #000;  /* fallback for old browsers */
}

.img-wrapper .c{
    height: 30px;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.img-wrapper .d{
    height: 30px;
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.info{
    padding: 0 18px;
    color: #acaaaa;
    font-size: 14px;
}

/* 设置标题 */
.info .title{
    color: #717171;
    font-size: 18px;
    margin: 13px 0 15px 0;
}

.info .title a{
    color: #717171;
    font-size: 18px;
    margin: 13px 0 15px 0;
    text-decoration:none
}


.info .category i{
    margin-left: 4px;
    margin-right: 7px;
}

/* 设置简介的样式 */
.info .intro{
    margin: 18px 4px;
    line-height: 20px;
}

/* 设置下边的内容 */
.star-wrapper{
    height: 46px;
    line-height: 46px;
    border-top: 1px solid #e9e9e9;
    color: #ddd;
    padding: 0 16px;
}

/* 设置星星的样式 */
.star-wrapper .star{
    float: left;
    
}

.star-wrapper .light{
    color: #b9cb41;
}

.star-wrapper .weibo{
    float: right;
}

.last {
    width: 180px;
    height: 320px;
    margin: 100px 20px;
    /* 设置阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, .3); 
    flex: none;
}

.return {
    position: relative;
    left:47vw;
    top: 40px;
}
